{% extends 'base.html' %}
{% include 'header.html' %}
{% block content %}

<div class="container  p-3 my-3 border bg-light">
  <div class="row">
    <div class="col">
      <h4 > <b> Statutory Compliances Details </b>  
        <a type="button"  class="btn btn-success float-right" href="{{ url_for('index')}}" >Add New Record </a>
        <a type="button"  class="btn btn-info float-right" style='margin-right:16px' href="{{ url_for('export')}}" > Export to Excel </a> 
      </h4>

        <div>
          <table class="table table-hover table-sm">
            <tr class="text-white-50 bg-dark">
              <th>Project ID</th>
              <th>Name of Contractor</th>
              <th>Contract/WO Number</th>
              <th>Statutory Compliance Description</th>
              <th>Reference No</th>
              <th>Valid Date</th>
              <th>Name of Authority Approved</th>
              <th>Employee ID of Authority</th>
                
                <th> </th>
            </tr>

            {% for row in detailsdata %}
            <tr>
              <td> {{row.projectid}} </td>
              <td> {{row.nameofcontractor}} </td>
              <td> {{row.contractwonumber}} </td>
              <td> {{row.statutorycompliancedesc}} </td>
              <td> {{row.referenceno}} </td>
              <td> {{row.validdate.strftime('%d-%m-%Y')}} </td>
              <td> {{row.nameofauthorityapproved}} </td>
              <td> {{row.employeeidofauthority}} </td>
                
                <td>
                    <a href="/review/{{row.projectid}}" class="btn btn-outline-warning btn-xs badge-pill" style="width: 60px; font-size: smaller;" >Review</a>
                    <!--<a href="/delete/{{row.id}}" class="btn btn-outline-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a> -->
                </td>
            </tr>
            {% endfor %}
            </table>

          </div>
          
      </div>
    </div>
</div>



{% endblock %}